USE [CAMPUS]
GO
/****** Object:  Table [dbo].[vacancy]    Script Date: 04/25/2016 17:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vacancy](
	[c_id] [int] NULL,
	[c_profile] [varchar](20) NULL,
	[c_salary] [varchar](20) NULL,
	[c_details] [varchar](100) NULL,
	[c_bond] [varchar](20) NULL,
	[c_date] [varchar](25) NULL,
	[c_name] [varchar](20) NULL,
	[c_email] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[vacancy] ([c_id], [c_profile], [c_salary], [c_details], [c_bond], [c_date], [c_name], [c_email]) VALUES (0, N'Software Developer', N'20000', N'SSc above 60, Hsc above 60', N'', N'11/12/2013 1:57:42 PM', NULL, N'info@gmail.com')
INSERT [dbo].[vacancy] ([c_id], [c_profile], [c_salary], [c_details], [c_bond], [c_date], [c_name], [c_email]) VALUES (0, N'Seo Analyst', N'25000', N'Hsc above 60, Ssc above 70', N'', N'11/12/2013 2:01:12 PM', NULL, N'info1@gmail.com')
INSERT [dbo].[vacancy] ([c_id], [c_profile], [c_salary], [c_details], [c_bond], [c_date], [c_name], [c_email]) VALUES (0, N'Software Developer', N'22000', N'Hsc above 60, Ssc above 70', N'', N'11/12/2013 2:01:31 PM', NULL, N'sar@gmail.com')
/****** Object:  Table [dbo].[student]    Script Date: 04/25/2016 17:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[student](
	[s_fname] [varchar](20) NULL,
	[s_mname] [varchar](20) NULL,
	[s_lname] [varchar](25) NULL,
	[s_gender] [varchar](20) NULL,
	[s_email] [varchar](25) NULL,
	[s_contact] [varchar](30) NULL,
	[s_address] [varchar](100) NULL,
	[s_uid] [int] NULL,
	[s_DOB] [varchar](25) NULL,
	[s_age] [int] NULL,
	[s_school] [varchar](20) NULL,
	[s_syearpass] [int] NULL,
	[s_suniversity] [varchar](20) NULL,
	[s_saggregate] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[student] ADD [s_college] [varchar](50) NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[student] ADD [s_cuniversity] [varchar](20) NULL
ALTER TABLE [dbo].[student] ADD [s_cyearpass] [int] NULL
ALTER TABLE [dbo].[student] ADD [s_caggregate] [int] NULL
ALTER TABLE [dbo].[student] ADD [s_college2] [varchar](20) NULL
ALTER TABLE [dbo].[student] ADD [s_c2university] [varchar](20) NULL
ALTER TABLE [dbo].[student] ADD [s_c2yearpass] [int] NULL
ALTER TABLE [dbo].[student] ADD [s_c2aggregate] [int] NULL
ALTER TABLE [dbo].[student] ADD [s_extracurr] [varchar](150) NULL
ALTER TABLE [dbo].[student] ADD [s_otherqualify] [varchar](35) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[student] ADD [s_username] [varchar](25) NULL
ALTER TABLE [dbo].[student] ADD [s_password] [varchar](25) NULL
ALTER TABLE [dbo].[student] ADD [s_dept] [varchar](20) NULL
ALTER TABLE [dbo].[student] ADD [s_seen] [varchar](50) NULL
ALTER TABLE [dbo].[student] ADD [s_resume] [varchar](50) NULL
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company]    Script Date: 04/25/2016 17:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[c_name] [varchar](70) NULL,
	[c_established] [int] NULL,
	[c_email] [varchar](60) NULL,
	[c_contact] [varchar](90) NULL,
	[c_hr] [varchar](50) NULL,
	[c_id] [int] NULL,
	[c_uname] [varchar](50) NULL,
	[c_pass] [varchar](50) NULL,
	[c_seen] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[company] ([c_name], [c_established], [c_email], [c_contact], [c_hr], [c_id], [c_uname], [c_pass], [c_seen]) VALUES (N'Infosys', 1990, N'info@infosys.com', N'9544556622', N'churan', 0, N'info', N'info', N'2016/03/23 11:52:23')
INSERT [dbo].[company] ([c_name], [c_established], [c_email], [c_contact], [c_hr], [c_id], [c_uname], [c_pass], [c_seen]) VALUES (N'Accenture', 1980, N'shalu@gail.com', N'9876567894', N'neeraj', 1, N'shalini', N'shalini', NULL)
INSERT [dbo].[company] ([c_name], [c_established], [c_email], [c_contact], [c_hr], [c_id], [c_uname], [c_pass], [c_seen]) VALUES (N'jws', 1994, N'contact@jws.com', N'2548456', N'warren', 2, N'jws', N'jws', NULL)
/****** Object:  Table [dbo].[Admin]    Script Date: 04/25/2016 17:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [varchar](50) NULL,
	[Pass] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([ID], [Pass]) VALUES (N'Admin', N'Admin')
